<div class="p-5">
  <mat-card class="no-gutters">
    <mat-card-header>
      <h5>{{course.name}}</h5>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="pt-3">
      <div class="row align-items-center">
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-2">
             <b>Price:</b>
            </div>
            <div class="col">
              <a>{{course.price}}</a>
            </div>
          </div>
          <div class="row pt-2">
            <div *ngIf="course.description" class="col-sm-2">
              <b>Description:</b>
            </div>
            <div class="col">
              <a>{{course.description}}</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4 text-center">
          <button  (click) = "addToWallet(course)" class="btn btn-primary px-4">Buy</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
